body{
    font-family:Arial, Helvetica, sans-serif;
    background:#ececec;
    margin:0;
}

.container{
    width:90%;
    max-width:1100px;
    margin:40px auto;
}

h1{
    text-align:center;
    margin-bottom:30px;
}

.card{
    background:white;
    border-radius:15px;
    padding:20px;
    margin-bottom:20px;

    display:flex;
    align-items:center;
    gap:25px;

    box-shadow:0 3px 10px rgba(0,0,0,.12);
}

.card img{
    width:140px;
    height:140px;
    object-fit:contain;
}

.card-info{
    flex:1;
}

.card-info h2{
    margin-top:0;
}

.add-form{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:25px;
    margin-top:30px;
}

.form-group{
    display:flex;
    flex-direction:column;
}

.form-group label{
    font-weight:bold;
    margin-bottom:8px;
}

.add-form input,
.add-form select{
    padding:12px;
    border-radius:10px;
    border:1px solid #ccc;
    font-size:16px;
}

.add-form button{
    grid-column:1 / span 2;

    padding:14px;

    font-size:18px;

    border:none;

    border-radius:10px;

    cursor:pointer;

    background:#e63946;

    color:white;

    transition:.2s;
}

.add-form button:hover{
    transform:scale(1.02);
}

a{
    display:inline-block;
    margin-top:20px;
    text-decoration:none;
    font-weight:bold;
}